<div class="p">
    <h3>Comments</h3>
    {{#each this}}
    <section class="p">
        <div class="text">
            {{comment_text}}
        </div>
        <div class="meta">
           Posted By: {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>